* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    background-color: rgb(65, 69, 71);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 90%;
    max-width: 400px;
    background-color: rgb(49, 62, 65);
    overflow: hidden;
}
.display {
    background-color: rgb(182, 182, 182);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 30px;
    position: relative;
    border-radius: 10px;
}
.display-1 {
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}
.temp-result {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: 0.3;
}
.all_button {
    color: rgb(165, 162, 162);
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}
.button {
    border: 0.5px solid rgba(147, 146, 148, 0.749);
    display: inline-block;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 15px;
}
.button:hover {
    background-color: rgb(224, 242, 246);
}
.btn {
    grid-column: 4/-1;
}
h1 {
    font-size: 50px;
    font-family:Century Gothic;
    text-align: center;
    padding-top: 10px;
}
p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}